<html>

<head>
  {{>header}}
  <link rel="Stylesheet" href="./css/style.css">
</head>

<body>
  <h1>Created by {{name}}</h1>
  <div class="imageME">
    <img src="./image/me.jpg">
  </div>
</body>

<html>