<html>

<head>
    {{>header}}
    <link rel="Stylesheet" href="./css/style.css">
</head>

<body>

    <h1>
        Weather details
    </h1>

    <form class="form-data">
        <input placeholder="enter your location" />
        <button>search</button>
    </form>

    <p class="messageP" id = "message1"></p>
    <p class="messageP" id = "message2"></p>
    <p class="messageP" id = "message3"></p>

    <script src="./js/app-client.js"></script>

</body>

<html>