<div class="box">
    <h2>
        Weather application. Welcome {{name}}
    </h2>

    <div class="tab">
        <a href="/"> Home </a>
        <a href="/help">Help </a>
        <a href="/about">About </a>
    </div>

</div>